In [3]:
#import all necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
#read the data from drive
data=pd.read_csv(r"E:\School_DataSets\chip_dataset.csv")

In [5]:
data.head()

,Product,Type,Release Date,Process Size (nm),TDP (W),Die Size (mm^2),Transistors (million),Freq (GHz),Foundry,Vendor,FP16 GFLOPS,FP32 GFLOPS,FP64 GFLOPS
0,AMD Athlon 1000,CPU,6/5/00,180,54,120,37,1000.0,NaN,AMD,NaN,NaN,NaN
1,AMD Athlon 1000,CPU,10/31/00,180,54,120,37,1000.0,NaN,AMD,NaN,NaN,NaN
2,AMD Athlon 1100,CPU,8/14/00,180,60,120,37,1100.0,NaN,AMD,NaN,NaN,NaN
3,AMD Athlon 1133,CPU,10/31/00,180,63,120,37,1133.0,NaN,AMD,NaN,NaN,NaN
4,AMD Athlon 1200,CPU,10/31/00,180,66,120,37,1200.0,NaN,AMD,NaN,NaN,NaN

## Explore the missingness in the dataset for categorical and numerical data

In [6]:
#Exploring missingness with pandas
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4945 entries, 0 to 4944
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Product                4945 non-null   object
 1   Type                   4945 non-null   object
 2   Release Date           4746 non-null   object
 3   Process Size (nm)      4945 non-null   object
 4   TDP (W)                4508 non-null   object
 5   Die Size (mm^2)        4593 non-null   object
 6   Transistors (million)  4390 non-null   object
 7   Freq (GHz)             4508 non-null   float64
 8   Foundry                4330 non-null   object
 9   Vendor                 4945 non-null   object
 10  FP16 GFLOPS            800 non-null    float64
 11  FP32 GFLOPS            1685 non-null   float64
 12  FP64 GFLOPS            1278 non-null   float64
dtypes: float64(4), object(9)
memory usage: 502.4+ KB

In [8]:
data.isnull().sum()

Product                     0
Type                        0
Release Date              199
Process Size (nm)           0
TDP (W)                   437
Die Size (mm^2)           352
Transistors (million)     555
Freq (GHz)                437
Foundry                   615
Vendor                      0
FP16 GFLOPS              4145
FP32 GFLOPS              3260
FP64 GFLOPS              3667
dtype: int64

##### Several columns have missing values, use missingno library to identify any patterns in the data that could explain the missingness

In [ ]:
!pip install missing

## Develop a strategy to deal with the missing values, i.e deletion, imputation by mean or mode etc, whilst providing rationale for your approach.

## Drop non-consequntial fields

## Transform temporal data to their corrrect format (date time)

## Perfom a full EDA and demonstrate the validity of the following assumption